<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>No name</title>
</head>
<header>
    <a href="/">Home</a>
    <a href="signin">Sign in</a>
    <a href="signup">Sign up</a><br><br>
</header>

<body>
    Here is the main page <br><br>
    {{{body}}}
</body>

</html>