{{#if errorMessage}}
{{errorMessage}}
{{/if}}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 about">

            <h3>Fine, Easy is the app to access your fictional bank account</h3>

            The raw version is able to create user and log him/her in. <br>
            Deposit amount to the current acccount and withdraw the funds.<br>
            Also transactions among registered users is available.<br>
            Investment module enables buyng/selling selected stocks as per their current prices.<br>
            <br>
            yet to do:
            <ul>
                <li>add back end data validation</li>
                <li>invest module connecting to the database value of purchased shares</li>
                <li>work on UI</li>
            </ul>
        </div>
        <div class="col-3"></div>
    </div>
</div>