<div class="container">
    <div class="row">
        <div class="col signup-div">
            <form action="/signup" method="POST">
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col">
                            <label for="sign-up-fname">First name</label><br>
                            <input type="text" name="sign-up-fname" id="sign-up-fname" required autofocus><br>
                        </div>
                        <div class="col">
                            <label for="sign-up-lname">Last name</label><br>
                            <input type="text" name="sign-up-lname" id="sign-up-lname" required><br><br>
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                </div>
                <label for="sign-up-email">Email</label><br>
                <input type="email" name="sign-up-email" id="sign-up-email" required><br>
                <label for="sign-up-password">Password</label><br>
                <input type="password" name="sign-up-password" id="sign-up-password" required><br><br>
                <label for="occupation">Occupation</label><br>
                <input type="radio" name="sign-up-occupation" id="sign-up-student" value="Student">
                <label for="sign-up-student">Student&nbsp&nbsp</label>
                <input type="radio" name="sign-up-occupation" id="sign-up-employed" value="Employed">
                <label for="sign-up-student">Employed&nbsp&nbsp</label>
                <input type="radio" name="sign-up-occupation" id="sign-up-self-student" value="Self-Employed">
                <label for="sign-up-student">Self Employed&nbsp&nbsp</label>
                <input type="radio" name="sign-up-occupation" id="sign-up-retired" value="Retired">
                <label for="sign-up-student">Retired&nbsp&nbsp</label>
                <input type="radio" name="sign-up-occupation" id="sign-up-unemployed" value="Unemployed">
                <label for="sign-up-student">Unemployed&nbsp&nbsp</label><br><br>
                <label for="sign-up-date-of-birth">Date of birth</label><br>
                <input type="date" name="sign-up-date-of-birth" id="sign-up-date-of-birth" required><br>
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col">
                            <label for="sign-up-address">Address</label><br>
                            <input type="text" name="sign-up-address" id="sign-up-address" required><br>
                            <label for="sign-up-postal-code">Postal Code</label><br>
                            <input type="text" name="sign-up-postal-code" id="sign-up-postal-code" required><br>
                        </div>
                        <div class="col">
                            <label for="sign-up-city">City</label><br>
                            <input type="text" name="sign-up-city" id="sign-up-city" required><br>
                            <label for="sign-up-province">Province</label><br>
                            <input type="text" name="sign-up-province" id="sign-up-province" required><br>
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="sign-up-country">Country</label><br>
                            <input type="text" name="sign-up-country" id="sign-up-country" required><br>
                        </div>
                    </div>
                </div>
                <label for="sign-up-cell-number">Cell phone number</label><br>
                <input type="tel" name="sign-up-cell-number" id="sign-up-cell-number" required><br><br>
                <label for="sign-up-preferred-comm">Preferred contact method</label><br>
                <input type="checkbox" name="sign-up-preferred-comm" id="sign-up-comm-cell" value="CellPhone">
                <label for="sign-up-comm-tel">Cell Phone</label>
                <input type="checkbox" name="sign-up-preferred-comm" id="sign-up-comm-email" value="Email">
                <label for="sign-up-comm-tel">Email</label><br><br>
                <input type="submit" value="Submit">
            </form>

        </div>
    </div>
</div>
<hr>