<hr>
<form action='/signin' method="POST">
  <label for="sign-in-email">Email</label><br>
  <input type="email" name="sign-in-email" id="sign-in-email" required><br>
  <label for="sign-in-password">Password</label><br>
  <input type="password" name="sign-in-password" id="sign-in-password" required><br><br>
  <input type="submit" value="Submit">
</form>
<hr>