body{
    font-family: 'Courier New', Courier, monospace;
}
form{
    font-size: 14px;
}
::placeholder{
    font-style: italic;
    text-align: right;
}
.header-div{
    padding: 15px;
    margin: 5px;
    text-align: center;
}
.transaction-div{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    height: 300px;
    margin: 40px;
}
.signin-div, .signup-div, .invest-row{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    margin: 30px;
}
.personal-info{
    margin-left: auto; 
    margin-right: 0;
}
.share-logo{
    margin: 10px;
}
